<!DOCTYPE html>
<html>
    <%- include('../partials/head') -%>
    <body>
        <%- include('../partials/nav') -%>
        <div class="main container-fluid">
            <div class="banner">
                <img class="banner-img" src="/images/Banner_Image.jpg" alt="bot love"/>
            </div>
            <div>
                <h2>Twitter Bots by Bot Love</h2>
                <ul>
                    <li>Bot Love can help you get a Twitter&trade; Bot up and running fast</li>
                    <li>Expand your community by engaging with tweets and users</li>
                    <li>Tweet what you want when you want</li>
                    <li>Harness the power of software and automation</li>
                </ul>
            </div>
            <div>
                <h2>Twitter Automations</h2>
                <ul>
                    <li>Scheduled content that increases account traction with automated tweets</li>
                    <li>Tweet content with images and video links for better engagement</li>
                    <li>Engage users or tweets of your choice</li>
                    <li>Search by username, hashtags, or text for sending retweets or likes</li>
                </ul>
            </div>
            <button type="button" class="btn btn-lg btn-primary">Contact</button>
        </div>
        <%- include('../partials/footer') -%>
    </body>
</html>