<!DOCTYPE html>
<html>
    <%- include('../partials/head') -%>
    <body>
        <%- include('../partials/nav') -%>
        <div class="container">
            What's your investment philosophy?<br/>
            My philosophy is simple.  I like to save, automate, and think long term.<br/><br/>
        
            I have a sixty percent savings rate that goes into my retirement and brokerage accounts.<br/>
            My portfolio consists of Vanguard mutual funds and index funds, VTSAX, VUG, and VGT are<br/>
            my biggest holdings. <br/><br/>
        
            These investments are meant to keep in the market forever. Hold long term and only invest money that<br/>
            you can afford to lose.<br/><br/>
        
            For me, I can afford to lose sixty percent of what I make. I am living my best life knowing<br/>
            that I will have greater opportunities going forward, as my investments grow, and by prioritizing<br/>
            what I spend my money on.<br/><br/>
            
            Do you believe in timing the market?<br/>
            No.  There is conclusive evident that we cannot time our investments. My investments are <br/>
            automated to protect myself from my biggest enemy, myself, and my emotions. <br/><br/>
        
            My personal financial system automatically withdraws money from my checking account monthly. <br/>
            The automatic withdraw is set on my payday, so I only see the money I can spend on food, mortgage,<br/>
            and other expenses in my checking account.  The money is transferred into my Roth IRA and brokerage<br/>
            account where mutual funds are bought without me thinking.<br/><br/>
        
            I don't particularly like to think about money and spreadsheets, so having it automated in diversified<br/>
            investments allows me to spend more time doing the things I enjoy, spending time on the beach and running<br/>
            are some of my favorite activities.<br/><br/>
        </div>
    </body>
</html>
