.navbar .navbar-collapse {
    text-align: center;
}

.main {
    font-size: 16px;
    padding-bottom: 2rem;
}

h2 {
    font-size: 18px;
}

.banner-img {
    position: relative;
    max-width: 267px;
}

.btn-lg {
    padding: .25rem .5rem !important;
    font-size: 1rem !important;
}

@media only screen and (min-width: 327px) {
    .main {
        font-size: 16px;
        padding-bottom: 2rem;
    }
    
    h2 {
        font-size: 18px;
    }
    
    .banner-img {
        position: relative;
        max-width: 410px;
    }
}

@media only screen and (min-width: 500px) {
    .main {
        font-size: 16px;
        padding-bottom: 2rem;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .banner-img {
        position: relative;
        max-width: 588px;
    }
}

@media only screen and (min-width: 767px) {
    .main {
        font-size: 16px;
        padding-bottom: 2rem;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .banner-img {
        position: relative;
        max-width: 588px;
    }
}

@media only screen and (min-width: 952px) {
    .main {
        font-size: 26px;
        padding-bottom: 2rem;
    }
    
    h2 {
        font-size: 48px;
    }
    
    .banner-img {
        position: relative;
        max-width: 964px;
    }

    .btn-lg {
        padding: .5rem 1rem !important;
        font-size: 1.25rem !important;
    }
}

@media only screen and (min-width: 1440px) {
    .main {
        font-size: 26px;
        padding-bottom: 2rem;
    }
    
    h2 {
        font-size: 48px;
    }
    
    .banner-img {
        position: relative;
        max-width: 964px;
    }
}