<!DOCTYPE html>
<html>
    <head>
        <title>Bot Love</title>
        <!-- SEO Optimizations -->
        <meta charset="UTF-8">
        <meta name="description" content="Bot Love blog, YouTube, and more">
        <meta name="keywords" content="Personal Finance, House Hacking, Sean, Brooks">
        <meta name="author" content="Sean Brooks">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Style -->
        <base href="/" />
        <link rel="stylesheet" type="text/css" src="/src/assets/css/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Favicon -->
        <link rel="robo-icon" href="/src/assets/images/favicon.ico" type="image/ico" sizes="20x20">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106621269-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            // TODO: Pages
            gtag('house_hacking', 'UA-106621269-1');
        </script>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/finance">Personal Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="blank" href="https://www.youtube.com/channel/UCCU4jOan2QJl5idcbiZLfiw">YouTube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/house_hacking">House Hacking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/screening_tenant">Screening Tenant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/first_house">First Time Homebuyers</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            I'm here to bring you value.  It's worth considering how to build your career.  I wanted to share the decisions for my career switch and some of the principles that I use to
            help me increase my income, to build wealth, and increase my job satisfaction in the journey to financial independence, a point in time where I can begin to build bigger systems
            and businesses, investing more of my time into bigger projects outside of an employee role.  My career started when I was 28 years old. I am glad it started then because I was
            able to have fun and drift around.  I didn't know what I wanted as far as a direction until I decided to make some life-changing decisions.  I had worked a job that I was unsatisfied
            with, I used to argue for higher wages. My supervisors found me unmanageable, and the area that I lived in did not have a vibrate economy, service and tourism was the main industry
            in Western North Carolina.
            My career began when my first job moving to a new city, Boston, was terminated. I brought a similar attitude that I felt like gave me power in a smaller economy that ultimately
            lead to my demise. With so many more people, I was really felt disposable after I had told my boss that I needed the job.  I was unprofessional, chewing gum in front of her, and it
            was my first lessson in my change in mindset, "It is my job to bring value, not take it." The termination lead me into prosuing a decision that I was trying to put off. Ultimately,
            I choose to enroll in a coding bootcamp.  Technology industry was growing at a rapid scale.  I had heard stories of people in their early twenties being about to build companies, make great money,
            work remotely for places all over the globe, and have great job stability.
            My experience was difficult, but rewarding.  Most of my cohort was like me.  I didn't have much experience, but I was willing to work hard and learn.  The coding bootcamp taught me 
            a lot about learning.  They had put so much thought into the experience by using cutting-edge psychology techniques with learning peoples names, making us better presenters and public
            speakers, and putting us in the drivers seat, teaching us a new system, language each week.  The first article that was assigned to me was about a new publication out of Stanford about
            the growth mindset.
            The growth mindset is key to my career growth and has expanded past my career as a software developer and into all aspects of my life.  The growth mindset is a mindset that accepts
            challenges and acknowledges that we are able to grow, change, and overcome any adversity by our mode of thinking.  To give you an example of what the growth mindset it is someone who
            believes they can run a marathon without ever running one.  The growth mindset accepts challenges.  It puts your mind in control, and forces you to rethink "your presupposed dispositions
            and unarticulated in order to then become a different kind of person", as Cornel West would say from the movie An Examined Life.  I used to be very self-critical, a sabotager of my
            own success.  My thinking used to get in the way of what I wanted to do.  I had a fixed mindset.  I used to say I couldn't run a marathon.  I couldn't move to another city.  I couldn't
            have a fulfilled relationship.  I never dated anyone.
            After graduating bootcamp, I had build a few applications that didn't do much, but enough to call them apps.  My journey had begun.  I landed a job that was an hour commute away.  Two hours
            of my life were spent traveling.  The really cool part was getting to work with some brilliant people as my six-month internship progressed.  I was learning about Linux, PHP, how Tesla was a 
            great investment and about cryptocurrencies and hardware wallets for storing them.  I wasn't very talented since I wasn't familiar with enterprise solutions, but happy to be surrounded by CS graduates who would
            add value to my skillset.  I had increased my salary by $16,000/yr and was making $45,000 salary that would help me pay the $17,000 debt from the coding bootcamp.  My internship was extended as 
            a part-time software developer. My manager helped me find another position by offering to keep me on until I found full-time work that I was looking for and provide a good reference. Previously,
            I was afraid of telling my employer the truth about leaving, but I felt like I was working on another planet that was open to all ideas and possibilities.
            A few months after putting my resume out to job offers, I was able to find a full-time position as a software developer making a $60,000 salary.  I was so excited and nervous because I had 
            my offer for that salary accepted and I would be working in a completely different stack and coding language.  I was surprised to see that people took technology seriously, and those who 
            had a willingness to learn and proof of skill could get what they had dreamed of.  At this point in time, I was proud to be able to double my salary from the time when I didn't consider myself
            having a career. The thought in the back of my head, that I would double my salary after getting into tech, was true.
            I have been able to ask from even more.  My last raise was $25,000.  I think that if you aren't happy where you are that if you believe in yourself that you can make the changes you want to see
            come true by trusting yourself, asking questions, and testing what you know.  My next goal is to be less focused on money and super focused on purpose, my work and happiness.  Now, it isn't about 
            making six figures but to really enjoy my journey, where I have come from, picking up new skills, learning about a mindset, and using that to build scalable, business solutions.  Because that's what
            my passion is building things!  As simple as that sounds, I have fallen in love with creating something out of nothing.  As I have switch jobs plenty of times, I have had 4 jobs in the past 6 years,
            I know that it isn't what I am doing on the day to day, or about writing coding, but about working on building something, whether that be writing software, working with other people to build systems
            and companies, but as a continuum and journey.       
            
        </div>
    </body>
</html>