<!DOCTYPE html>
<html>
    <head>
        <title>Everything Sean Brooks</title>
        <!-- SEO Optimizations -->
        <meta charset="UTF-8">
        <meta name="description" content="Everything Sean Brooks blog, YouTube, and more">
        <meta name="keywords" content="Personal Finance, House Hacking, Sean, Brooks">
        <meta name="author" content="Sean Brooks">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Style -->
        <base href="/" />
        <link rel="stylesheet" type="text/css" src="/src/assets/css/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Favicon -->
        <link rel="robo-icon" href="/src/assets/images/favicon.ico" type="image/ico" sizes="20x20">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106621269-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            // TODO: Pages
            gtag('house_hacking', 'UA-106621269-1');
        </script>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/finance">Personal Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="blank" href="https://www.youtube.com/channel/UCCU4jOan2QJl5idcbiZLfiw">YouTube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/house_hacking">House Hacking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/screening_tenant">Screening Tenant</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            What is house hacking?<br/><br/>

            House hacking is where you rent out space in your primary residence, or home.<br/>
            For many American's their mortgage is their biggest expense. By renting out space<br/>
            through traditional, long-term leases or short-term contracts and Air BnB, you can<br/>
            reduce your housing expenses dramatically.<br/><br/>

            Real estate can make you money in four different ways. It is unique in that way<br/>
            because it is  multidimensional. Appreciation, tax-deductions, equity, and cash flow are the four ways.<br/>
            The traditional homeowner uses the first three advantages. They get appreciation by<br/>
            the value of their house increasing over time, tax deductions on the mortgage's interest<br/>
            that they pay each year, and equity as they own more of their property by paying off<br/>
            the loan. The fourth is by renting and producing monthly income.<br/><br/>

            For many first-time homebuyers, it is easy to overextend your budget. Dave Ramsey<br/>
            is one of the most credible voices on personal finance. His rule is to never pay more<br/>
            than 25% of your income on the mortgage or rent. In fact, when you spend more than 25% of your budget<br/>
            on housing you are unable to cover unexpected cost and become unable to sieze<br/>
            other opportunities that could benefit your life because the mortgage has taken most of your cash.<br/>
            The ability to move to get a better job is gone or invest in other ways is lost.<br/><br/>

            If you live in an expensive market, such as San Francisco, New York, Los Angeles, Washington,<br/>
            DC or Boston, this is your reality. In 2020, you can easily pay $3000 for a one bedroom<br/>
            apartment. If you are not making $144,000/yr then it would be hard to be under Dave Ramsey's<br/>
            25% rule. We don't want other parts of your life being held back because of mortgage or rent<br/>
            prices. Additionally, the housing market is hard to get into, coming up with a down payment<br/>
             takes years.<br/><br/>

            There is an answer for millenials trying to save more money and reduce financial stresses. House<br/>
            First you will need a down payment.  This is the hard part and as I said before can take years to do.<br/>
            I will try to give you more tips on getting that goal later, but first tell you that I borrowed my down <br/>
            payment. I presented it as an investment to a family member and they supported me. I knew that <br/>
            this would be a win-win for both of us. I had savings to cover any unexpected costs that occurred<br/>
            in the coming months of owning and I was going to turn the house into a business. In a few years, I<br/>
            I could pay them in cash if they wanted their money back or they could take their percentage of the <br/>
            house when it was sold. It was a long-term investment for them.<br/><br/>

            I had many worries. "How was I going to close?" "How would my taxes be different?" The list was long,<br/>
            and I knew that none of it was worth my time because nothing had happened. I focused on closing a house <br/>
            and learning about the systems I would need to convert the home into a business. The Bigger Pockets Podcase <br/>
            was a great resource and, in particularly, 
            <a href="https://www.goodreads.com/en/book/show/54266769-the-book-on-managing-rental-properties" target="blank" style="text-decoration: none;">The Book on Managing Rental Properties</a> by <br/>
            Brandon and Heather Turner that became invaluable to me in the process of screening a tenant.<br/><br/>

            There was another problem: How much would I charge for rent?<br/>
            I solved this by going on Craigslist and searching ads that matched my listing's criteria, a shared 1<br/>
            bedroom in my area. Once I got a sense of the market price, I verified my range with 
            <a href="https://www.rentometer.com/" target="blank" style="text-decoration: none;">rentometer.com</a>, a <br/>
            a pricing service that helps you understand your market's fair value.<br/><br/>

            In the Boston area, I could charge anywhere from $750-1000/mo on a 1 bedroom and shared bath in rent.<br/>
            This gave me some confidence knowing that I would bring home an additional $10,200 yearly income with a $850<br/>
            monthly rent. As you can imagine, putting this towards the mortgage would allow me to pay off my 30 mortgage<br/>
            in 15 years, which is a savings of $206,000 in my scenario! To find out what you could save, click 
            <a href="https://www.nerdwallet.com/article/mortgages/early-mortgage-payoff-calculator" target="blank" style="text-decoration: none;">here</a>.<br/><br/><br/><br/>

           
        
            
        </div>
    </body>
</html>