<!DOCTYPE html>
<html>
    <head>
        <title>Everything Sean Brooks</title>
        <!-- SEO Optimizations -->
        <meta charset="UTF-8">
        <meta name="description" content="Everything Sean Brooks blog, YouTube, and more">
        <meta name="keywords" content="Personal Finance, House Hacking, Sean, Brooks">
        <meta name="author" content="Sean Brooks">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Style -->
        <base href="/" />
        <link rel="stylesheet" type="text/css" src="/src/assets/css/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Favicon -->
        <link rel="robo-icon" href="/src/assets/images/favicon.ico" type="image/ico" sizes="20x20">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106621269-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            // TODO: Pages
            gtag('screening_tenant', 'UA-106621269-1');
        </script>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/finance">Personal Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="blank" href="https://www.youtube.com/channel/UCCU4jOan2QJl5idcbiZLfiw">YouTube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/house_hacking">House Hacking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/screening_tenant">Screening Tenant</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                So you have your ad listing.  It is polished with clean pictures, details of what separates your home from the rest. You have set a great price, and you are ready to accept a tenant?<br/><br/>
            </div>
            <div class="row">
                Before you go further, congratulations because you have done the work and have set yourself up for success.<br/><br/>
            </div>
            <div class="row">
                It is important to have standards for your rental. The standards will help you find someone you can live with and help your future roommate find
                a place that within their budget.
                There were five standards that I had to help me place a person in an extra bedroom.
                The five standards were no pets, no smoking, credit score at or above 600, three times the rent in monthly income, and a clean background check. I will explain 
                why these are important soon.<br/><br/>
            </div>
            <div class="row">
                With every inquiry, I asked the same opening question.  "What questions can I answer for you?"
                This question does too things, it allows the inquirer to ask any questions they have upfront and gives you some perspective into who they are.
                You will be able to know in your first interaction with the person if they are serious if they don't ask questions that were answered in the ad.
                If the inquirer asks about the price of rent, smoking policies, or if their family will be able to inhabit with them then it probably isn't going to 
                work out.  I begin by asking this question because it has saved me time in the long screening process.<br/><br/>
            </div>
            <div class="row">
                After answering their questions, I want to know if they will pass the rental standards. I ask them my five questions. You want clear answers to each 
                question otherwise you will run the risk of wasting your time and theirs by going further into the screening process, which makes rejection much harder 
                to deal with each step closer to signing. If I am unsure about any of the answers be sure to tell the inquirer that a screening will happen later in
                the process, and, if they fail for any standard, let them know right then and there.  Be sure to give them the exact reason, making it clear why they
                are not accepted. To give you an example of what to say when someone says that "they'll smoke off the property", I say that per our condo documents we 
                cannot accept any who claims to be a smoker. My condo association doesn't allow anyone who claims to smoke.  I am sorry. They will usually understand.<br/><br/>
            </div>
            <div class="row">
                Once you have gotten this far with someone who's questions are answered and pass the standards, you can now give them a list of next steps for seeing the 
                property. In my case, COVID-19 made it harder for me to invite people into my home. The next step in my process was to have an online showing through
                a video platform, such as Zoom, or Facetime. It doesn't matter which platform, whatever works for you or the inquirer is best. Having an online showing next
                gave me assurance that the inquirer would be serious by the time they made it to an onsite showing, and would give them some perspective as well.  During
                these 30 minute showings, I would get to know them, asking what they did, reinterating the standards, answer any questions, and show them the property. By
                the end of the half an hour, we would schedule an onsite showing. I would tell them to bring a mask to ensure the safety of both parties during the pandemic.<br/><br/>
            </div>
            <div class="row">
                Since the inquirer has already gotten a sense of the space, the amount of time onsite would be limited. In normal non-pandemic situations, I would have inquirers 
                come to the property without the online tour, but having the initial tour cut exposure time to COVID-19 contact.  The importance of the onsite visit is critical.
                This is the best time to get a sense of the potential tenant. Did they come presentable? Was their mode of transportation clean? Noticing these small details 
                can help you decide if this person is trying to be professional and presentable. They don't have to be wearing a suit, but they should have made an effort
                to look presentable. You want someone who cleans the dishes, pays rent on time, does a little more than asked to. The same rules are applied to you as well.
                Do not show a place without a clean shave, proper dress, and a bad attitude, which is a sure way off turning tenants away.<br/><br/>
            </div> 
            <div class="row">
                Onsite visits can be done two ways, you can give them a tour of the place or allow them to check it out themselves. Since I was showing my property in a
                pandemic we did a distanced showing, remaining 6 ft apart at all times.  I would answer questions and get to know the inquirer in open spaces, such as the 
                porch. Be sure to ask them about hobbies, goals, and lifestyle to get a sense of what they like in a living situation with roommates. I knew I had a good fit
                when I heard that they like running, travel, and had other similarities as me. I could see myself being friends with them. If you get a good vibe, explain 
                the next steps: email them a thank you for coming to see the property and application for screening.<br/><br/>
            </div>
            <div class="row">
                The screening application is the first document that you will have a prospective tenant fill out in full. It gives you information that you can use to screen
                through a service of your choice. My favorite is <span style="display: inline;"><a href="https://rentprep.com/tenant-background-check-2/" target="blank" style="text-decoration: none;margin:0;">RentPrep</a></span>
                because they send an email to the applicant and you get a notification when the report is ready. It is so important that you do your due diligence and run a full
                report on their background and credit.  Also, be sure that the entire application is filled out in full. You will need their references to call and a signature to
                legally run the report. I will save you hours of time by including a sample application <span style="display: inline;"><a href="/rental_application" target="blank" style="text-decoration: none;margin:0;">here</a></span>.<br/><br/>
            </div>
            <div class="row">
                The next step is to wait until you have a clear background report and credit check. Make sure the background is clean, no convictions, and credit score is at or above
                your standards. Once this is done, you will need to call their references. Most important references are their previous landlords because they can give you a 
                prospective into their renters history, whether they paid on time and kept the house clean. In my experience, I knew I was going to offer an acceptance letter
                when the landlord had said it was the best tenant they had. After you call at least two of their previous three landlords, I would call their employer to verify
                that their monthly income is correct and that they are employed where they say they are. It will give you a sense of peace when you
                can verify that the tenant makes three times the rent. Tenants who spend less than 33% are more likely to continue to afford their housing in the case of an unexpected
                emergency. They will have the cash flow.<br/><br/>
            </div>
            <div class="row">
                Once you have done your due diligence, you can accept your future roommate! This is the time to celebrate because you have just converted your primary residence
                into a business and have made your home a community, and gained a friend.<br/><br/>
            </div>
            <div class="row">
                The last step would be to schedule a time to sign the lease. This time will include signing the lease, going over any things to help with move in, and the 
                exchange of keys. You can create a lease using <span style="display: inline;"><a href="https://www.ezlandlordforms.com/documents/rental-lease-agreements/" target="blank" style="text-decoration: none;margin:0;">EZ Landlord Forms</a></span>
                 that has forms custom made with state laws and regulations.<br/><br/>
            </div>
            <div class="row">
                Happy House Hacking!<br/><br/>
            </div>
            <div class="row">
                Let me know if you like this artile by tweeting @everythingseanb! I'd love to hear from you.<br/><br/><br/><br/>
            </div>
        </div>
    </body>
</html>