<head>
    <title>Bot Love</title>
    <!-- SEO Optimizations -->
    <meta charset="UTF-8">
    <meta name="description" content="Bot love">
    <meta name="keywords" content="bot, love">
    <meta name="author" content="Sean Brooks">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/svg" href="/images/botlove-Logo.svg" sizes="200x200" />
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106621269-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
        // TODO: Pages
        gtag('config', 'UA-106621269-1');
        </script>
    <!-- Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>